@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

$light-grey: #e6e8e6;
$grey: #ced0ce;
$teal: #9fb8ad;
$dark-green: #475841;
$dark-grey: #3f403f;

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  padding-top: 0px;
}

.navbar-brand {
  font-size: 28px;
  margin-left: -15px;
}

.below-navbar {
  padding-top: 51px;
}

.fixed-scroll {
  position: fixed;
}

.root-page {
  .navbar-right {
    .dropdown-toggle {
      padding: 15px 15px;
    }
    a {
      border: none;
    }
  }

  .blurb { 
    p {
      padding-top: 20px;
      font-style: italic;
    }
    span {
      padding-top: 50px;
      font-size: 100px;
    }
  }

  .jumbotron {
    background: url('../images/ottawa.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    
    h1 {
      font-family: 'Roboto Condensed', sans-serif;
      color: black;
      padding: 60px 0 400px;
    }
  }
}

.trips-page {
  .bootcards-cards {
    margin-top: 20px;
    a:nth-child(1) {
        color: #777;
        .new-trip-card {
          h1 {
            margin-bottom: 20px;
          }   
        }
        :hover {
          color: #333
        }
      } 
  }
  
  .panel .btn {
    margin-left: 15px;
  }

}

.profile-page {
  .below-navbar {
    margin-top: 30px;
  }
  .avatar{
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 0;
  }
  .form-horizontal {
    .form-group {     
      margin-left: 0px;
      margin-right: 0px;
    }
    label.control-label {
      padding-top: 0;
    }
  }
}

.update-profile-page {
  .about-me {
    height: 200px;
  }
  .save-button {
    margin-right: 15px;
  }
}

.friends-page {
  .bootcards-list {
    padding-top: 20px;
  }
}

.activity-page {

  .activity-photos {
    margin: 20px 0 20px;
    }
    img {
      width: 100%;
    }

    .btn-group {
      .btn {
        margin: 20px 0 0 15px;
      }
    }

    .back-button {
      margin: 20px 0 0 15px;
    }
  
}

.trip-page {
  .edit-trip-btn {
    margin: 20px 0 20px 15px;
  } 
  .col-lg-12:nth-of-type(2) {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
  .vertical-timeline {        
    font: {
      size: 100%;
      family: $primary-font; // variables inside partials > _variables.scss
    }
    color: $main-text;
    background-color: $background;
    .new-activity-block {
      overflow: hidden;
      position: relative;
      .cd-timeline-content {
        left: 9990px;
      }
      a {
        color: black;
      }
      .new-activity {
        background: #EDB623;
      }
      .glyphicon-plus{
        margin: 18px 0 0 22px;
        font-size: 1.5em;
      }
    }
    .glyphicon {
      margin: 18px 0 0 19px;
      font-size: 1.5em;
    }
    
    a {
      color: $color-3;
      text-decoration: none;
      font-family: $secondary-font;
    }
    img {
      max-width: 100%;
    }
    h1, h2 {
      font-family: $secondary-font;
      font-weight: bold;
    }
  } /* end timeline styles */

}

/* NEW TRIP PLACEHOLDER TEXT STYLES */
.new-trip-page {
  *::-webkit-input-placeholder {
      color: #777;
  }
  *:-moz-placeholder {
      /* FF 4-18 */
      color: #777;
  }
  *::-moz-placeholder {
      /* FF 19+ */
      color: #777;
  }
  *:-ms-input-placeholder {
      /* IE 10+ */
      color: #777;
  }
}

/* DATEPICKER STYLES */
.form-control.datepicker {
    padding-left: 12px;
  }
/* LOGGED IN USER ICON STYLES */
.dropdown-toggle.logged-in {
  padding: 9px 15px;
  .user-icon {
    width: 31px;
    height: 31px;
  }
}
/* SIGN IN STYLES */
#sign-in-facebook {
  background-color: #3B5998;
  border: none;
}
#sign-in-facebook:hover {
  background-color: lighten(#3B5998, 5%);
  img {
    -webkit-filter: brightness(111%);
  }
}
#sign-in-google {
  background-color: #DC4E41;
  border: none;
  img {
    -webkit-filter: invert(100%); filter: invert(100%);
    height: 34px;
    width: 34px;
  }
}
#sign-in-google:hover {
  background-color: lighten(#DC4E41, 5%);
}



.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: $L; // breakpoints inside partials > _layout.scss
  margin: 0 auto;

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

/* -------------------------------- 

VERTICAL TIMELINE SPECIFIC COMPONENTS

-------------------------------- */

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: $color-1;

  h1 {
    color: $color-3;
    @include font-size(18px);
  }

  @include MQ(L) {
    height: 300px;
    line-height: 300px;

    h1 {
      @include font-size(24px);
    }
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin: {
    top: 2em;
    bottom: 2em;
  }

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: darken($background, 5%);
  }

  @include MQ(L) {
    margin: {
      top: 3em;
      bottom: 3em;
    }

    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
  @include clearfix;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include MQ(L) {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px $color-3, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

  img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

  &.cd-picture {
    background: $color-4;
  }

  &.cd-movie {
    background: $color-2;
  }

  &.cd-location {
    background: $color-5;
  }

  @include MQ(L) {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;

    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      @include animation(cd-bounce-1 .6s);
    }
  }
}

@include keyframes(cd-bounce-1) {
  0% {
    opacity: 0;
    @include transform(scale(.5));
  }

  60% {
    opacity: 1;
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1));
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: $color-3;
  @include border-radius;
  padding: 1em;
  box-shadow: 0 3px 0 darken($background, 5%);
  @include clearfix;

  h2 {
    color: $color-1;
  }

  p, .cd-read-more, .cd-date {
    // @include font-size(13px);
  }

  .cd-read-more, .cd-date {
    display: inline-block;
  }

  p {
    margin: 1em 0;
    line-height: 1.6;
  }

  .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: $link;
    color: $color-3;
    @include border-radius;

    .no-touch &:hover {
      background-color: lighten($link, 5%);
    }
  }

  .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
  }

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid $color-3;
  }

  @include MQ(M) {
    // h2 {
    //   @include font-size(20px);
    // }

    // p {
    //   @include font-size(16px);
    // }

    // .cd-read-more, .cd-date {
    //   @include font-size(14px);
    // }
  }

  @include MQ(L) {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    &::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: $color-3;
    }

    .cd-read-more {
      float: left;
    }

    .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      // @include font-size(16px);
    }

    .cd-timeline-block:nth-child(even) & {
      float: right;

      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: $color-3;
      }

      .cd-read-more {
        float: right;
      }

      .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      @include animation(cd-bounce-2 .6s);
    }
  }
}

@include MQ(L) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    @include animation(cd-bounce-2-inverse .6s);
  }
}

@include keyframes(cd-bounce-2) {
  0% {
    opacity: 0;
    @include transform(translateX(-100px));
  }

  60% {
    opacity: 1;
    @include transform(translateX(20px));
  }

  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(cd-bounce-2-inverse) {
  0% {
    opacity: 0;
    @include transform(translateX(100px));
  }

  60% {
    opacity: 1;
    @include transform(translateX(-20px));
  }

  100% {
    @include transform(translateX(0));
  }
}