<div class='new-trip-page'>
  <%= erb :'partials/_navbar' %>
  <div class="below-navbar container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Create New Trip</h1>
        <%= erb :'partials/_trip_form',
          locals: {
            urls: "/users/#{session[:user]}/trips"
            } %>
      </div>
    </div>
  </div>
</div>
