<div class='trips-page'>
  <%= erb :'partials/_navbar' %>
  <div class='container below-navbar'>
    <div class='row'>
      <div class='col-lg-4 fixed-scroll'>
        <div class='row'>
          <div class='col-lg-11'>
            <h2>Ryan Kam<br>
              <small>Toronto, Ontario</small>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel purus vel felis dapibus euismod. In quis tortor at lectus ultricies sodales in sed eros. Aenean congue enim sapien, vel mollis nisl feugiat a. Sed massa metus, efficitur vel diam ut, auctor eleifend urna.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel purus vel felis dapibus euismod. In quis tortor at lectus ultricies sodales in sed eros. Aenean congue enim sapien, vel mollis nisl feugiat a. Sed massa metus, efficitur vel diam ut, auctor eleifend urna.</p>
          </div>
        </div>
      </div>
      <div class='col-lg-7 col-lg-offset-5 bootcards-cards'>

        <div class="panel panel-default text-center new-trip-card">
          <div class="list-group">
            <div class="list-group-item">
              <h1 class="list-group-item-text">
                <span class='glyphicon glyphicon-plus'></span>
              </h1>
              <h4>New Trip</h4>
            </div>
          </div>
        </div>

        <% 4.times do %>
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Southeast Asia Backpacking</h3>
            <a class="btn btn-primary pull-right" href="#">
            View
            </a>
            <a class="btn btn-primary pull-right" href="#">
            Edit
            </a>
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <p class="list-group-item-text">Date</p>
              <h4 class="list-group-item-heading">October 21, 2015 - November 15, 2015</h4>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris tellus, vehicula ut tellus id, suscipit dapibus tortor. Integer viverra turpis ac fringilla hendrerit. Sed faucibus posuere felis et pellentesque. Cras varius tortor vitae molestie tempor. Proin ut viverra elit, ac gravida tortor.</p>
            </div>
          </div>
           <img src="http://i.imgur.com/rat4xOV.jpg" class="img-responsive"/>
          <!-- <div class="panel-footer">
            <small>Built with Bootcards - Base Card</small>
            </div> -->
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
