// colors

$main-text: #333333; // main text
$link: #888888; // anchor tags
$background: #F5F5F5; // body background color

$color-1: #333333; // dark grey (BOOTSTRAP HEADING)
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

// fonts 

$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;