<div class="about-us">
  <%= erb :'partials/_navbar' %>

  <div class="below-navbar container">
    <div class="row">
      <div class="col-lg-4">
        <img src="http://graph.facebook.com/v2.2/10103964755390492/picture?type=large" alt="">
      </div>
      <div class="col-lg-8">
        <h1>Ryan Kam</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="http://graph.facebook.com/v2.2/10203999610990960/picture?type=large" alt="">
      </div>
      <div class="col-lg-8">
        <h1>Cuong Tran</h1>
      </div>
    </div>
  </div>
</div>
