<div class='root-page'>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Flashback</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">About</a></li>
          <li class="active"><a href="./">Login<span class="sr-only">(current)</span></a></li>
        </ul>
      </div><!--/.nav-collapse -->

    </div>
  </nav>

  <div class="jumbotron">
    <div class='container'>
      <h1>Relive your travels.</h1>
    </div>
  </div>

  <div class='container text-center'>
    <div class='blurb col-md-4'>
      <span class='glyphicon glyphicon-globe'></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel purus vel felis dapibus euismod. In quis tortor at lectus ultricies sodales in sed eros. Aenean congue enim sapien, vel mollis nisl feugiat a. Sed massa metus, efficitur vel diam ut, auctor eleifend urna.<p>
    </div>
    <div class='blurb col-md-4'>
      <span class='blurb glyphicon glyphicon-user'></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel purus vel felis dapibus euismod. In quis tortor at lectus ultricies sodales in sed eros. Aenean congue enim sapien, vel mollis nisl feugiat a. Sed massa metus, efficitur vel diam ut, auctor eleifend urna.<p>
    </div>
    <div class='blurb col-md-4'>
      <span class='blurb glyphicon glyphicon-camera'></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel purus vel felis dapibus euismod. In quis tortor at lectus ultricies sodales in sed eros. Aenean congue enim sapien, vel mollis nisl feugiat a. Sed massa metus, efficitur vel diam ut, auctor eleifend urna.<p>
    </div>
  </div>

</div>