<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- Reset.css -->
  <link rel="stylesheet" href="/css/reset.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Bootcards -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Ideal Image Slider CSS + Default Theme -->
  <link rel="stylesheet" href="/css/ideal-image-slider.css">
  <link rel="stylesheet" href="/css/default.css">
  <!-- Datepicker CSS -->
  <link rel="stylesheet" href="/css/datepicker.css">
  <!-- Google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

  
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/javascript/bootstrap.min.js"></script>
  <!-- Bootcards JS -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
  <!-- Custom JS -->
  <script src="/javascript/application.js"></script>
  <!-- Cody House Timeline JS -->
  <script src="/javascript/timeline.js"></script>
  <!-- Modernizr for Cody House Timeline -->
  <script src="/javascript/modernizr.js"></script>
  <!-- Ideal Image Slider JS + Navigation extension -->
  <script src="/javascript/ideal-image-slider.js"></script>
  <!-- Datepicker JS -->
  <script src='/javascript/bootstrap-datepicker.js'></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
